.Grey {
  background-color: #78909c;
}

.Blue {
  background-color: #2196f3;
}

.Green {
  background-color: #00e676;
}

.Red {
  background-color: #ff3d00;
}

.Box {
  color: #000000;
  text-align: center;
  padding: 15px;
  border: 1px solid black;
}
